.thumbnail-photos {
  margin-bottom: 5px;
}

.thumbnail-size {
  width: 14%;
  border-style: white;
  transition: transform 250ms;
}

/* .thumbnail-single-photo {
  transition: transform 250ms;
} */

.thumbnail-size:hover {
  transform: scale(1.08);
  opacity: 1;
}

.selected-image {
  border-style: solid;
  width: 14%;
}
