.thumbnail-photos {
  margin-bottom: 5px;
  border-style: white;
}

.thumbnail-size {
  width: 18%;
}

.thumbnail-single-photo {
  transition: transform 250ms;
}

.thumbnail-single-photo:hover {
  transform: scale(1.08);
  opacity: 1;
}

.selected-image {
  border-style: solid;
  width: 20%;
}
