.rating-breakdown-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rating-breakdown-bar:hover {
  cursor: pointer;
}

.breakdown-progress-bar {
  height: 12px;
  background: thistle;
  width: 70%;
}

progress::-webkit-progress-value {
  background: var(--Nodolla-purple);
}

progress::-webkit-progress-bar {
  background: thistle;
}

progress::-moz-progress-bar {
  background: var(--Nodolla-purple);
}