#related-carousel {
  position: relative;
  margin-bottom: 100px;
  min-height: 600px;
  border-top: 2px solid rgb(88, 71, 100);
  border-bottom: 2px solid rgb(88, 71, 100);
  display: grid;
  grid-template-columns: 4% 92% 4%;
  place-items: center;
  background-color: thistle;
}

#related-carousel-title {
  margin: 20px 0 0 10px;
}

#related-card-container {
  grid-column: 2;
  min-width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px 0;
  flex-wrap: nowrap;
  overflow: hidden;
}
