.reviews-header {
  margin-left: 20%;
}

.ratings-and-reviews-container {
  display: flex;
  justify-content: center;
}

.review-breakdown-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 400px;
  margin: 0px 10px 10px 10px;
  /* border: 3px solid #333; */
  background-color: #fdfdfd;
  min-height: 500px;
}

.reviewList {
  /* border: 3px solid #333; */
  background-color: #fdfdfd;
  max-height: 100%;
  margin: 10px;
  overflow-y: auto;
}


.review-list-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1000px;
  margin: 0px 10px 10px 10px;
  /* border: 3px solid #333; */
  background-color: #fdfdfd;
  min-height: 500px;
  max-height: 100vh;
}

.ratingBreakdown {
  /* border: 3px solid #333; */
  background-color: #fdfdfd;
  min-height: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 5% 10px 5%;
  justify-content: space-evenly;
}

.productBreakdown {
  /* border: 3px solid #333; */
  background-color: #fdfdfd;
  min-height: 150px;
  margin: 10px;
}

.sort-form {
  /* border: 3px solid #333; */
  background-color: #fdfdfd;
  min-height: 30px;
  margin: 10px;
}

.sort-form-label {
  margin: 10px 0 0 10px;
}

.sort-form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 70px;
  height: 34px;
  background: #fdfdfd;
  font-family: Nunito;
  font-size: 16px;
  margin: 5px 0 0 0px;
  outline: none;
  text-decoration: underline;
}

.sort-form-select:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--Nodolla-purple);
  transition: text-shadow 0.7s;
  text-shadow: 1px 1px thistle
}

.reviewButtonsContainer {
  display: flex;
  /* border: 3px solid #333; */
  background-color: #fdfdfd;
  min-height: 100px;
  margin: 10px;
}

.moreReviewsButton {
  border: 3px solid var(--Nodolla-purple);
  border-radius: 5px;
  background-color: rgba(216, 191, 216, 0.6);
  transition: background-color .3s;
  min-height: 50px;
  margin: 10px;
  color: var(--Nodolla-purple);
}

.moreReviewsButton:hover {
  background-color: rgba(216, 191, 216, 1);
  transition: background-color .3s;
  cursor: pointer
}

.addReviewButton {
  border: 3px solid var(--Nodolla-purple);
  border-radius: 5px;
  background-color: rgba(216, 191, 216, 0.6);
  transition: background-color .3s;
  min-height: 50px;
  margin: 10px;
  color: var(--Nodolla-purple);
}

.addReviewButton:hover {
  background-color: rgba(216, 191, 216, 1);
  transition: background-color .3s;
  cursor: pointer
}

