.reviews-header {
  margin-left: 20%;
}

.ratings-and-reviews-container {
  display: flex;
  justify-content: center;
}

.review-breakdown-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 400px;
  margin: 0px 10px 10px 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
  min-height: 500px;
}

.reviewList {
  border: 3px solid #333;
  background-color: #dfdfdf;
  min-height: 100px;
  max-height: 100%;
  margin: 10px;
  overflow-y: auto;
  flex: 1;
}


.review-list-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 800px;
  margin: 0px 10px 10px 10px;
  border: 3px solid #333;
  background-color: #dfdfdf;
  min-height: 500px;
  max-height: 100vh;
}

.ratingBreakdown {
  border: 3px solid #333;
  background-color: #dfdfdf;
  min-height: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.productBreakdown {
  border: 3px solid #333;
  background-color: #dfdfdf;
  min-height: 150px;
  margin: 10px;
}

.sort-form {
  border: 3px solid #333;
  background-color: #dfdfdf;
  min-height: 30px;
  margin: 10px;
}

.sort-form-label {
  margin: 10px 0 0 10px;
}

.sort-form-select {
  margin: 5px 0 0 10px;
}

.reviewButtonsContainer {
  display: flex;
  border: 3px solid #333;
  background-color: #dfdfdf;
  min-height: 100px;
  margin: 10px;
}

.moreReviewsButton {
  border: 3px solid #333;
  background-color: #dfdfdf;
  min-height: 50px;
  margin: 10px;
}

.addReviewButton {
  border: 3px solid #333;
  background-color: #dfdfdf;
  min-height: 50px;
  margin: 10px;
}
