.product-overview-container {
  display:flex;
  /* background-color: yellow; */
  height: 900px;
  margin-left: 20%;
}

.product-image-container {
  display: flex;
  /* background-color: grey; */
  flex-direction: column;
  justify-content: center;
  width: 900px;
  height: 700px;
  /* border-style: solid; */
}

.product-info-container {
  display: flex;
  flex-direction: column;
  /* background-color: grey;
  border-style: solid; */
  margin: 10px 10px;
  height: 700px;
  width: 500px;
  margin-left: -60px;
}

.product-description-container {
  display: flex;
  /* background-color: red; */
  margin-top: 20px;
}

.product-style-container {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  margin-top: 20px;
}

.product-cart-container {
  display: flex;
  margin-top: 20px;
}

.product-summary-container {
  display: block;
  position: absolute;
  margin-top: 720px;
  margin-left: 10px;
  /* background-color: grey;
  border-style: solid; */
}
