.review-rating-summary {
  display: flex;
  flex-direction: row;
  background-color: #dfdfdf;
  min-height: 100px;
  margin: 10px;
}

.averageScore {
  margin: 10px 0 0 35px;
  font-size: 70px;
}

.summaryStarRating {
  margin: 25px 0 0 30px;
}

.percentRecommend {
  background-color: #dfdfdf;
  min-height: 20px;
  margin: 0 0 0 45px;
}

.breakdown-filter-button-container {
  height: 25px;
}

.remove-review-filters-button {
  background: none;
  border: none;
  padding: 0;
  font-family: arial, sans-serif;
  color: #764ABC;
  text-decoration: underline;
  cursor: pointer;
  left: 50%;
  -ms-transform: translate(50%);
  transform: translate(50%);
}