.card {
  position: relative;
  min-width: 300px;
  max-width: 300px;
  height: 575px;
  box-shadow: 5px 7px 0 #aaaaaa;
  transition: box-shadow .5s;
  -webkit-transition: box-shadow .5s;
  background-color: #fdfdfd;
}

.card:hover {
  cursor: pointer;
  box-shadow: 1px 1px 7px rgb(90, 90, 90);
  transition: box-shadow .5s;
  -webkit-transition: box-shadow .5s;
}

.outfit-card {
  margin: 0 50px;
}

.outfit-card:first-of-type {
  margin-left: 0;
}

.outfit-card:last-of-type {
  margin-right: 5px;
}

.related-card {
  margin: 0 50px;
}

.related-card:first-of-type {
  margin-left: 5px;
}

.related-card:last-of-type {
  margin-right: 5px;
}

.card-image-container {
  max-width: 300px;
  height: 450px;
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card, .card-image-container {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-image, .card-no-image {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.card-no-image {
  max-width: 300px;
}

.descriptive-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  border-top: 1px solid #C0C0C0;
  background-color: #fdfdfd;
  padding-top: 10px;
}

.descriptive {
  padding-left: 10px;
}

product-name {
  margin: 10px 0;
  font-style:normal;
}

.old-price {
  color: rgb(200, 16, 16);
  text-decoration: line-through;
}

.card-action-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 2;
  padding: 3px 3px;
  font-size: 20px;
  background: none;
  border: none;
  outline: none;
  text-shadow: 1px 1px 0 #000,
               1px 2px 0 #000,
               3px 6px 1px rgba(0,0,0,.1);
  transition: text-shadow .5s;
  -webkit-transition: text-shadow .5s;
}

.card-action-btn:hover {
  text-shadow: 1px 1px 0 #000,
               1px 2px 0 #000,
               3px 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  transition: text-shadow 1s;
  -webkit-transition: text-shadow 1s;
}

.card-action-btn, .card-action-btn:hover {
  cursor: inherit;
}

.related-action-btn {
  color: gold;
}

.outfit-action-btn {
  color: red;
}

.fa-times-circle {
  font-size: 24px;
}
