.expanded-image {
  margin: auto;
  display: flex;
  width: 80%;
  max-width: 700px;
  z-index: 30;
}

.expanded-product-thumbnail {
  display:flex;
  margin-left: -100px;
  margin-top: 50px;
  position: absolute;
}