.expanded-image {
  margin: auto;
  display: flex;
  width: 80%;
  max-width: 700px;
  z-index: 30;
}

.expanded-product-thumbnail {
  display:flex;
  margin-left: -250px;
  margin-top: 200px;
  position: absolute;
}

.expanded-image-view {
  position: fixed;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}