#outfit-carousel {
  position: relative;
  margin: 10px 0 100px 10px;
  min-height: 600px;
  border-top: 1px solid rgb(119, 140, 255);
  display: flex;
  flex-direction: row;
}

#outfit-carousel-title {
  margin: 20px 20px 0 10px;
  display: inline-block;
}

#add-to-outfit-btn {
  width: 200px;
  min-width: 200px;
  height: 300px;
  margin: auto 15px auto 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.fa-plus-square {
  font-size: 36px;
  font-weight: 500;
}

#outfit-card-container {
  width: 1300px;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  flex-wrap: nowrap;
  overflow: hidden;
}

.outfit-carousel-divider {
  border-style: ridge;
  margin-block-start: 50px;
  margin-block-end: 50px;
  margin-inline-start: 15px;
  margin-inline-end: 15px;
}

.outfit-carousel-divider:first-of-type {
  margin-inline-start: 40px;
}

#outfit-next, #outfit-back {
  position: absolute;
  z-index: 5;
  top: 40%;
  height: 20%;
  margin: auto 5px;
}

#outfit-next {
  right: 10px;
}

#outfit-back {
  left: 215px;
}