#outfit-carousel {
  position: relative;
  margin-bottom: 100px;
  min-height: 600px;
  border-top: 2px solid rgb(88, 71, 100);
  border-bottom: 2px solid rgb(88, 71, 100);
  display: grid;
  grid-template-columns: 4% 92% 4%;
  place-items: center;
  background-color: thistle;
}

#outfit-carousel-title {
  margin: 20px 20px 0 10px;
  display: inline-block;
}

#add-to-outfit-btn {
  outline: none;
  margin-right: 100px;
  margin-left: 5px;
  border: 3px solid rgb(88, 71, 100);
  color: rgb(88, 71, 100);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
  background-color: rgba(242, 242, 242, .6);
}

.fa-plus-square {
  font-size: 36px;
  font-weight: 500;
}

#outfit-card-container {
  justify-self: start;
  width: auto;
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px 0;
  flex-wrap: nowrap;
  overflow: hidden;
}
