.product-option-selectors {
  display: flex;
}

.product-quantity-dropdown {
  margin-left: 40px;
}

.product-required-selection-active {
  display: flex;
  color: red;
}
.product-required-selection-disabled {
  display: none;
}

.product-add-cart-active {
  display: flex;
  color: black;
}
.product-add-cart-disabled {
  display: none;
}

.add-to-cart {
  outline: none;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 200;
  font-family: Lato;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color: rgba(216, 191, 216, 0.6);
  border: 2px solid rgb(88, 71, 100);
  color: rgb(88, 71, 100);
  margin-right: 15px;
}

.add-to-cart:hover {
  background-color: thistle;
}

.button-area {
  display: block;
  margin-top: 50px;
  margin-left: -182px;
}

.check-cart {
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color: rgba(216, 191, 216, 0.6);
  border: 2px solid rgb(88, 71, 100);
  color: rgb(88, 71, 100);
  padding: 10px;
  padding-right: 30px;
  border-radius: 10px;
}
.check-cart:hover {
  background-color: thistle;
}

.product-cart-number {
  color: rgb(88, 71, 100);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  margin-left: 162px;
  margin-top: 60px;
}