body {
  margin: 0;
  background-color: #fdfdfd;
}

header {
  position: relative;
  object-fit: contain;
  min-height: 100px;
  background-size: cover;
  background-color: thistle;
  font-family: 'Lato', sans-serif;
  margin-bottom: 50px;
  border-bottom: 5px solid rgb(88, 71, 100);
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}

header h1 {
  display: inline-block;
  margin: 20px;
  font-size: 3em;
  color: rgb(88, 71, 100);
}

span, p {
  font-family: 'Nunito', sans-serif;
}