body {
  margin: 0;
}

.app-container {
  background-color: #fdfdfd;
  -webkit-transition: .4s;
  transition: .4s;
}

.dark-app-container {
  background-color: rgb(53, 54, 58);
  -webkit-transition: .4s;
  transition: .4s;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  object-fit: contain;
  min-height: 100px;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  margin-bottom: 50px;
  background-color: thistle;
  border-bottom: 5px solid rgb(88, 71, 100);
  transition: .4s;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}

header h1 {
  display: inline-block;
  margin: 20px;
  font-size: 3em;
  color: rgb(88, 71, 100);
}

span, p, div {
  font-family: 'Nunito', sans-serif;
}

.dark-mode-text {
  color: #fdfdfd;
}

.dark-banner {
  background-color: rgb(88, 71, 100);
  border-color: thistle;
  transition: .4s;
}

.dark-banner-title {
  color: thistle;
  transition: .4s;
}