.reviewListItemStarRating {
  margin: 10px 0 0 10px;
  display: flex;
}


.reviewListItemSummary {
  font-weight: bold;
  font-size: large;
  margin: 10px 0 0 10px;
}

.reviewListItemBody {
  margin: 10px 0 0 10px;
}