.star-rating-container {
  position: relative;
  width: 90px;
  height: 16px;
  display: flex;
  justify-content: flex-end;
}

.stars {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.star {
  font-size: 16px;
}

.full-stars {
  color: thistle;
}

.empty-stars {
  z-index: 3;
  color: rgb(88, 71, 100);
  -webkit-transition: .4s;
  transition: .4s;
}

.stars-cover {
  position: relative;
  width: 100%;
  height: 16px;
  z-index: 2;
  background-color: #fdfdfd;
  -webkit-transition: .4s;
  transition: .4s;
}

.dark-stars-cover {
  position: relative;
  width: 100%;
  height: 16px;
  z-index: 2;
  background-color: rgb(53, 54, 58);
  -webkit-transition: .4s;
  transition: .4s;
}

.dark-empty-stars {
  color: thistle;
  -webkit-transition: .4s;
  transition: .4s;
}

.no-reviews {
  margin: 10px 0 0 10px
}