#star-rating-container {
  position: relative;
  width: 90px;
  height: 16px;
  display: flex;
  justify-content: flex-end;
}

.stars {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.star {
  font-size: 16px;
}

div.stars i.full-stars {
  color: thistle;
}

.empty-stars {
  z-index: 3;
  color: rgb(88, 71, 100);
}

#stars-cover {
  position: relative;
  width: 100%;
  height: 16px;
  background-color: #fdfdfd;
  z-index: 2;
}

#no-reviews {
  margin: 10px 0 0 10px
}