.review-modal {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.review-modal-main {
  position: fixed;
  background: white;
  width: 50%;
  height: auto;
  max-height: 90vh;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 0 20px 20px 20px;
  overflow-y: auto;
}

.review-modal-display {
  display: block;
}

.review-modal-hide {
  display: none;
}

.review-modal-title {
  text-align: center;
}

.reviewModalButtonContainer {
  margin: -45px 0 0 0;
  position: absolute;
  left: 90%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.close-modal-button {
  border: 3px solid var(--Nodolla-purple);
  border-radius: 5px;
  background-color: rgba(216, 191, 216, 0.6);
  transition: background-color .3s;
  height: 30px;
  width: 70px;
  margin: 10px;
  color: var(--Nodolla-purple);
}

.close-modal-button:hover {
  background-color: rgba(216, 191, 216, 1);
  transition: background-color .3s;
  cursor: pointer
}

.review-modal-star-wrapper {
  width: 500px;
}

.review-modal-stars {
  float: left;
}

.review-rating-explanation {
  margin-left: 20px;
  float: left;
}

.review-image-upload-display {
  color: var(--Nodolla-purple);
  background-color: thistle;
}

.review-image-upload-hide {
  display: none;
}

.submit-review-button {
  border: 3px solid var(--Nodolla-purple);
  border-radius: 5px;
  background-color: rgba(216, 191, 216, 0.6);
  transition: background-color .3s;
  height: 50px;
  margin: 10px;
  color: var(--Nodolla-purple);
}

.submit-review-button:hover {
  background-color: rgba(216, 191, 216, 1);
  transition: background-color .3s;
  cursor: pointer
}

.image-upload-container {
  height: 21px;
  display: flex;
  justify-content: start;
}
